{% extends '@Almni/Admin/base.html.twig' %}


{% block body %}
    <h1>Note</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ note.id }}</td>
            </tr>
            <tr>
                <th>Formule</th>
                <td>{{ note.formule }}</td>
            </tr>
            <tr>
                <th>Idclasse</th>
                <td>{{ note.idclasse }}</td>
            </tr>
            <tr>
                <th>Idetudent</th>
                <td>{{ note.idetudent }}</td>
            </tr>
            <tr>
                <th>Idprof</th>
                <td>{{ note.idprof }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ note.note }}</td>
            </tr>
            <tr>
                <th>Remarque</th>
                <td>{{ note.remarque }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('note_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('note_edit', { 'id': note.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
