{%  extends '@Almni/Admin/base.html.twig' %}
{% block body %}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Ajouter Evenement</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Evenement</a></li>
                    <li class="breadcrumb-item active">Ajouter Evenement</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-12">
    <div class="card">
    <div class="card-body">

    {{ form_start(form,{'attr':{'class':'floating-labels m-t-40'}}) }}
        <div class="form-group m-b-40">
            <label for="input6">Nom</label>
            {{ form_widget(form.nom,{'attr':{'class':'form-control p-0','id':'input6'}}) }}
            <span class="bar"></span>
        </div>
        <div class="form-group m-b-40">
            <label for="input6">Description</label>
            {{ form_widget(form.description,{'attr':{'class':'form-control p-0','id':'input6'}}) }}
            <span class="bar"></span>
        </div>
        <div class="form-group m-b-40">
            <label for="input6">Date</label>
            {{ form_widget(form.date) }}
            <span class="bar"></span>
        </div>
        <div class="form-group m-b-40">
            <label for="input6">Lieu</label>
            {{ form_widget(form.lieu,{'attr':{'class':'form-control p-0','id':'input6'}}) }}

            <span class="bar"></span>
        </div>
        <div class="form-group m-b-40">
            <label for="input6">Organizateur</label>
            {{ form_widget(form.organizateur,{'attr':{'class':'form-control p-0','id':'input6'}}) }}
            <span class="bar"></span>
        </div>
        <div class="form-group m-b-40">
            <label for="input6">Image</label>
            {{ form_widget(form.image,{'attr':{'class':'dropify','id':'input6'}}) }}
            <span class="bar"></span>
        </div>
        <div class="form-group m-b-40">
            <label for="input6">Ratting</label>
            {{ form_widget(form.rating) }}
            <span class="bar"></span>
        </div>

        <div>
            <button class="btn waves-effect waves-light btn-secondary" type="submit"> Ajouter</button>
    </div>
    {{ form_end(form) }}
    </div>
    </div>
    </div>
    </div>

{% endblock %}

